@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);

body {
  background-color: #28272c;
  //3d3c44
}

#hero img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  z-index: -1;
  @media screen and (max-width: 900px) {
    height: 450px;
    width: auto;
  }
  @media screen and (max-width: 500px) {
    height: 600px;
    width: auto;
    left: -200px;
  }
}

.content-container {
  box-sizing: border-box;
  padding-right: 40%;
  padding-left: 10%;
  padding-top: 80px;
  @media screen and (max-width: 900px) {
    padding-right: 10%;
    padding-top: 60px;
  }
  @media screen and (max-width: 500px) {
    padding-right: 10%;
    padding-top: 45px;
  }
}

.headline {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 46px;
  margin-bottom: 15px;
}

.body-copy {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 15px;
}
.main-call-to-action {
  font-family: 'Oswald', 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 30px;
  color: #333;
  font-size: 24px;
  background-color: #fe8616;
  border-radius: 3px;
  border: 2px solid lighten(#fe8616, 10); 
  &:hover {
    background-color: lighten(#fe8616, 10); 
  }
}