#experiment
  = image_tag "cat.jpeg"
  %h1.headline
    Find Your Perfect Grill!
  %h3.tagline
    Other stuff about grills and things! Hooray for grillz!
  %p.body-copy
    Lorem Body copy. This will be three or four lines eventually.
#email.my-class
  = form_tag '/users' do
    = email_field :user, :email
    = submit_tag "submit email"
