#landing-page
  #hero
    = image_tag "grilling.jpg"
  .content-container
    %h1.headline
      Find Your Perfect Grill
    %p.body-copy
      Are you looking for a backyard powerhouse? A trusty tailgate companion? We can help you filter through the noise.
    = link_to 'Get Started', '/sign_up', :class => "main-call-to-action"