#experiment
  = image_tag "cat.jpeg"
  %h1.headline
    Find Your Perfect Grill!
  %h3.tagline
    Don't Know Where To Start? We Can Help.
  %p.body-copy
    There's no such thing as "the perfect grill". Only the perfect grill for you. Are you looking for a backyard powerhouse? A trusty tailgate companion? There are too many options, and no one helping you filter through the noise.
  %button.main-call-to-action
    Get Started